<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>admin | messenger</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/static/handlebars.js"></script>
  <script type="text/javascript" src="/static/jquery.cookie.js"></script>
  <script type="text/javascript">

  var socket = io.connect('http://localhost:8080');

  $(document).ready(function(){
    socket.emit('getUsers', {});
    $("#submit").click(function(){
      socket.emit('createUser', {
        'username': $("#username").val(),
        'password': 'test'
      });
      $("#username").val('');
    });
  });

  socket.on('users', function(data){
    data.users.forEach(function(user){
      $("<div/>", {
        id: '_'+user.username,
        text: user.username,
      }).appendTo("#users");
      $("<span/>", {
        "class": "fake-link",
        text: 'x',
        id: user.username,
        click: function(){
          var username = this.id;
          socket.emit('deleteUser', {
            'username': username
          });
        }
      }).appendTo("#_"+user.username);
    });
  });

  socket.on('addUser', function(data){
    $("<div/>", {
      id: '_'+data.user.username,
      text: data.user.username,
    }).appendTo("#users");
    $("<span/>", {
      "class": "fake-link",
      text: 'x',
      id: data.user.username,
      click: function(){
        var username = this.id;
        socket.emit('deleteUser', {
          'username': username
        });
      }
    }).appendTo("#_"+data.user.username);
  });

  socket.on('refresh', function(){
    $("#users").empty();
  });

  </script>
  <style type="text/css">
    .fake-link {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
  }
  </style>
</head>
  <body>
    users: <div id="users"></div>
    <div>
      username: <input type="text" id="username" />
      <input type="submit" id="submit" value="submit" />
    </div>
  </body>
</html>​
